<p id="notice"><%= notice %></p>

<h1>年度・学期一覧</h1>

<table>
  <thead>
    <tr>
      <th>年度</th>
      <th>学期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.year %></td>
        <td><%= semester.semester %></td>
        <td><%= link_to '詳細', semester %></td>
        <td><%= link_to '編集', edit_semester_path(semester) %></td>
        <td><%= link_to '削除', semester, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_semester_path %>
