<p id="notice"><%= notice %></p>

<p>
  <strong>年度</strong>
  <%= @semester.year %>
</p>

<p>
  <strong>学期</strong>
  <%= @semester.semester %>
</p>

<% @groups.each do |group| %>
  <p><%= group.name %></p>
<% end %>

<% @subjects.each do |subject| %>
  <p><%= subject.name %></p>
<% end %>

<%= link_to '編集', edit_semester_path(@semester) %> |
<%= link_to '戻る', semesters_path %>
