<% content_for :header do %>ダッシュボード<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>担当クラス</h2>
  </div>

  <ul class="list-group"> 
    <% @groups.each do |group| %>
      <li class="list-group-item"><%= link_to group.name, group %></li>
    <% end %>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>担当科目</h2>
  </div>

  <ul class="list-group">
    <% @subjects.each do |subject| %>
      <li class="list-group-item"><%= link_to subject.name, subject %></li>
    <% end %>
  </ul>
</div>
