<%= form_tag sessions_path, :method => :post do %>
  <div class="form-group">
    <%= label_tag '講師ＩＤ' %><br />
    <%= text_field_tag :code, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag 'パスワード' %><br />
    <%= password_field_tag :password, nil, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= submit_tag 'ログイン', class: 'btn btn-default' %>
  </div>
<% end %>
