<!DOCTYPE html>
<html>
<head>
  <title>Even</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Even', root_path, class: 'navbar-brand' %>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="page-header">ログイン</h1>

<% if flash[:error] %>
    <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>

<% if flash[:notice] %>
    <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>

    <%= render 'form' %>
  </div>
</body>
</html>