<%= form_for @student, html: { class: 'form-horizontal' } do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :code, class: 'col-xs-2 control-label' do %>学籍番号<% end %>
        <div class="col-xs-10">
          <%= f.text_field :code, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, class: 'col-xs-2 control-label' do %>名前<% end %>
        <div class="col-xs-10">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :ruby, class: 'col-xs-2 control-label' do %>ふりがな<% end %>
        <div class="col-xs-10">
          <%= f.text_field :ruby, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <%= f.submit class: 'btn btn-primary center-block' %>
    </div>
  </div>
<% end %>
