<% content_for :header do %>学生一覧<% end %>

<div class="panel panel-default">
  <table id="data" class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="col-xs-1 code">
          <label class="control-label">学籍番号</label>
          <div class="code-filter-area inline-form"></div>
        </th>
        <th class="col-xs-3 name">
          <label class="control-label">氏名(ふりがな)</label>
          <div class="name-filter-area inline-form"></div>
        </th>
        <th class="col-xs-8 classes">
          <label class="control-label">クラス</label>
          <div class="classes-filter-area inline-form"></div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td class="col-xs-1 code">
            <%= link_to student.code, student %>
          </td>
          <td class="col-xs-3 name">
            <ruby>
              <rb><%= link_to student.name, student %></rb>
              <rp>(</rp>
              <rt><%= student.ruby %></rt>
              <rp>)</rp>
            </ruby>
          </td>
          <td class="col-xs-8 classes">
            <% student.groups.each do |g| %>
              <%= link_to g, class: ('btn btn-%s btn-xs' % [(g.semester == current_semester) ? 'primary' : 'default']) do %>
                <%= g.semester %>: <%= g.name %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_user.admin? %>
    <div class="panel-footer">
      <%= link_to fa_new_icon, new_student_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<script>
$('table#data').exTableFilter({
  filters: [
    {
      append: {
        to: 'div.code-filter-area',
        type: 'text',
      },
    },
    {
      append: {
        to: 'div.name-filter-area',
        type: 'text',
      },
    },
    {
      append: {
        to: 'div.classes-filter-area',
        type: 'text',
      },
    },
  ],
});
</script>
