<% content_for :header do %>
<h1>
  <%= @student.code %>
  <small>
    <ruby>
      <rb><%= @student.name %></rb>
      <rp>(</rp>
      <rt><%= @student.ruby %></rt>
      <rp>)</rp>
    </ruby>
  </small>
</h1>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3>成績評価</h3>
  </div>

  <div class="panel-body">
    <div id="handsontable"></div>
  </div>

  <div class="panel-body">
    <div class="col-xs-offset-8 col-xs-4">
      <table class="table table-bordered">
        <tr>
          <th class="col-xs-2">単位数</th>
          <td class="col-xs-2"><span id="units"><%= @student.results.includes(subject: :base).where('final >= 60').sum(:unit) %></span></td>
        </tr>
        <tr>
          <th class="col-xs-2">時間数</th>
          <td class="col-xs-2"><span id="times"><%= @student.results.includes(subject: :base).where('final >= 60').sum(:time) %></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
var SELECT_OPTIONS = {
<% Result.statuses.each do |k, v| %>
  '<%= v %>': '<%= t(:"result.results.#{ k }") %>',
<% end %>
};

renderHandsonTable({
  colHeaders: ['年度', '学期', '教科', '中間', '', '期末', '', '追再', '', '評価', '判定'],
  columns: [
    {
      data: 'subject.semester.year',
      readOnly: true,
    },
    {
      data: 'subject.semester.semester',
      readOnly: true,
      renderer: function (instance, td, row, col, prop, value, cellProperties) {
        switch (value) {
          <% Semester.semesters.keys.each do |s| %>
          case '<%= s %>':
            value = '<%= t "semester.semesters.#{ s }" %>';
            break;
          <% end -%>
        }
        td.innerHTML = value;
      },
    },
    {
      data: 'subject.base.name',
      readOnly: true,
      renderer: function (instance, td, row, col, prop, value, cellProperties) {
        td.innerHTML = '<a href="/subjects/' + instance.getDataAtRowProp(row, 'subject.id') + '">' + value + '</a>';
      },
    },
    <% ['midterm', 'termend', 'resit', 'final'].each do |k| %>
      {
        data: '<%= k %>',
        type: 'numeric',
      },
      <% unless k == 'final' %>
        {
          data: '<%= k %>_status',
          editor: 'select',
          selectOptions: SELECT_OPTIONS,
          renderer: function (instance, td, row, col, prop, value, cellProperties) {
            Handsontable.Dom.fastInnerHTML(td, cellProperties.selectOptions[value] || '');
          }
        },
      <% end %>
    <% end %>
    {
      readOnly: true,
      renderer: function (instance, td, row, col, prop, value, cellProperties) {
        var final = instance.getDataAtRowProp(row, 'final'), result;
        if (final >= 80) {
          result = 'A';
        } else if (final >= 70) {
          result = 'B';
        } else if (final >= 60) {
          result = 'C';
        } else {
          result = 'D';
        }
        Handsontable.Dom.fastInnerHTML(td, result);

        $.get('<%= @student.id %>/units', function (data) {
          $('#units').text(data);
        });

        $.get('<%= @student.id %>/times', function (data) {
          $('#times').text(data);
        });
      },
    },
  ],
  data: <%= @student.results.to_json({
    only: [:id, :midterm, :midterm_status, :termend, :termend_status,
      :resit, :resit_status, :final],
    include: {
      subject: {
        only: [:id],
        include: {
          base: {
            only: [:name, :unit, :time],
          },
          semester: {
            only: [:year, :semester],
          },
        },
      },
    },
  }).html_safe %>,
  stretchH: 'all',
});
</script>
