<%= form_for(@instructor) do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code do %>講師ID<% end %>
    <%= f.text_field :code, class: 'form-control', disabled: params[:action] == 'edit' %>
  </div>

  <div class="form-group">
    <%= f.label :name do %>名前<% end %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password do %>
      新しいパスワード
    <% end %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation do %>
      新しいパスワードの確認
    <% end %>
    <%= f.text_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :crypted_password do %>
      現在のパスワード
    <% end %>
    <%= f.text_field :crypted_password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
