<% content_for :header do %>講師一覧<% end %>

<div class="panel panel-default">
  <table id="data" class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="col-xs-1 code">
          <label class="control-label">講師ID</label>
          <div class="code-filter-area inline-form"></div>
        </th>
        <th class="col-xs-3 name">
          <label class="control-label">氏名(ふりがな)</label>
          <div class="name-filter-area inline-form"></div>
        </th>
        <th class="col-xs-4 classes">
          <label class="control-label">クラス</label>
          <div class="classes-filter-area inline-form"></div>
        </th>
        <th class="col-xs-4 subjects">
          <label class="control-label">教科</label>
          <div class="subjects-filter-area inline-form"></div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @instructors.each do |instructor| %>
        <tr>
          <td class="col-xs-1 code">
            <%= link_to instructor.code, instructor %>
          </td>
          <td class="col-xs-3 name">
              <ruby>
                <rb><%= link_to instructor.name, instructor %></rb>
                <rp>(</rp>
                <rt><%= instructor.ruby %></rt>
                <rp>)</rp>
              </ruby>
            <% if current_user.admin? || current_user == instructor %>
              <%= link_to fa_edit_icon, edit_instructor_path(instructor),
                    class: 'btn btn-default btn-xs' %>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to fa_delete_icon, instructor,
                    method: :delete, data: { confirm: '本当に削除しますか?' },
                    class: 'btn btn-default btn-xs' %>
            <% end %>
          </td>
          <td class="col-xs-4 classes">
            <% instructor.groups.includes(:semester).where('semesters.year': current_semester.year).each do |g| %>
              <%= link_to g, class: ('btn btn-%s btn-xs' % [(g.semester == current_semester) ? 'primary' : 'default']) do %>
                <%= g.name %> <small>(<%= g.semester %>)</small>
              <% end %>
            <% end %>
          </td>
          <td class="col-xs-4 subjects">
            <% instructor.subjects.includes(:semester).where('semesters.year': current_semester.year).each do |s| %>
              <%= link_to s, class: ('btn btn-%s btn-xs' % [(s.semester == current_semester) ? 'primary' : 'default']) do %>
                <%= s.name %> <small><%= s.semester %></small>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="panel-footer">
    <%= link_to fa_new_icon, new_instructor_path, class: 'btn btn-primary center-block' %>
  </div>
</div>

<script>
$('table#data').exTableFilter({
  filters: [
    {
      append: {
        to: 'div.code-filter-area',
        type: 'text',
      },
    },
    {
      append: {
        to: 'div.name-filter-area',
        type: 'text',
      },
    },
    {
      append: {
        to: 'div.classes-filter-area',
        type: 'text',
      },
    },
    {
      append: {
        to: 'div.subjects-filter-area',
        type: 'text',
      },
    },
  ],
});
</script>
