<% content_for :header do %>
  <%= @instructor.code %>
  <small>
    <ruby>
      <rb><%= @instructor.name %></rb>
      <rp>(</rp>
      <rt><%= @instructor.ruby %></rt>
      <rp>)</rp>
    </ruby>
  </small>
<% end %>
