<% if @group.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

    <ul>
    <% @group.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @group, html: { class: 'form-horizontal' } do |f| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>基本情報</h2>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <%= f.label :name, class: 'col-xs-2 control-label' do %>
          名前
        <% end %>
        <div class="col-xs-10">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :semester_id, class: 'col-xs-2 control-label' do %>
          年度, 学期
        <% end %>
        <div class="col-xs-10">
          <%= f.select :semester_id, Semester.all.collect { |s| [s, s.id] },
                { selected: @group.semester_id }, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :course_id, class: 'col-xs-2 control-label' do %>
          学科
        <% end %>
        <div class="col-xs-10">
          <%= f.select :course_id, Course.all.collect { |c| [c, c.id] },
                { selected: @group.course_id }, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :grade, class: 'col-xs-2 control-label' do %>
          学年
        <% end %>
        <div class="col-xs-10">
          <%= f.number_field :grade, in: 1..4, class: 'form-control' %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>担当講師</h3>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <%= label_tag 'from_instructors', class: 'col-xs-1 control-label' do %>未担任<% end %>

            <div class="col-xs-4">
              <%= select_tag 'from_instructors', options_from_collection_for_select(Instructor.where.not(id: @group.instructor_ids), :id, :name),
                    include_hidden: false, id: 'from_instructors', class: 'form-control', multiple: true, size: 10 %>
            </div>

            <div class="col-xs-1">
                <%= button_tag '追加', type: 'button', class: 'btn btn-default btn-block',
                      onclick: 'addItems($("#from_instructors"), $("#group_instructor_ids"))' %>
            </div>

            <%= f.label :instructor_ids, class: 'col-xs-1 control-label' do %>担任中<% end %>

            <div class="col-xs-4">
              <%= f.select :instructor_ids, options_from_collection_for_select(@group.instructors, :id, :name, @group.instructor_ids),
                    { include_hidden: false }, class: 'form-control', multiple: true, size: 10 %>
            </div>

            <div class="col-xs-1">
                <%= button_tag '削除', type: 'button', class: 'btn btn-default btn-block',
                      onclick: 'addItems($("#group_instructor_ids"), $("#from_instructors"))' %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>受講生徒</h3>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <%= label_tag 'from_students', class: 'col-xs-1 control-label' do %>未受講<% end %>

            <div class="col-xs-4">
              <%= select_tag 'from_students', options_from_collection_for_select(Student.where.not(id: @group.student_ids), :id, :name),
                    include_hidden: false, id: 'from_students', class: 'form-control', multiple: true, size: 10 %>
            </div>

            <div class="col-xs-1">
                <%= button_tag '追加', type: 'button', class: 'btn btn-default btn-block',
                      onclick: 'addItems($("#from_students"), $("#group_student_ids"))' %>
            </div>

            <%= f.label :student_ids, class: 'col-xs-1 control-label' do %>受講中<% end %>

            <div class="col-xs-4">
              <%= f.select :student_ids, options_from_collection_for_select(@group.students, :id, :name, @group.student_ids),
                    { include_hidden: false }, class: 'form-control', multiple: true, size: 10 %>
            </div>

            <div class="col-xs-1">
                <%= button_tag '削除', type: 'button', class: 'btn btn-default btn-block',
                      onclick: 'addItems($("#group_student_ids"), $("#from_students"))' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <%= f.submit class: 'btn btn-primary center-block' %>
    </div>
  </div>
<% end %>

<script>
$('form[id$="_group"]').on('submit', function (event) {
  $('#group_instructor_ids option, #group_student_ids option').prop('selected', true);
});
</script>
