<% content_for :header do %>クラス一覧<% end %>
<table class="table table-bordered table-hover" id="data">
  <thead>
    <tr>
      <td class="col-sm-1 year">
        <label class="control-label">年度</label>
        <div class="year-filter-area inline-form"></div>
      </td>
      <td class="col-sm-1 semester">
        <label class="control-label">学期</label>
        <div class="semester-filter-area inline-form"></div>
      </td>
      <td class="col-sm-2 course">
        <label class="control-label">学科</label>
        <div class="course-filter-area inline-form"></div>
      </td>
      <td class="col-sm-8 class">
        <label class="control-label">クラス</label>
        <div class="class-filter-area inline-form"></div>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td class="col-sm-1"><%= group.semester.year %></td>
        <td class="col-sm-1"><%= I18n.t(:"semester.semesters.#{ group.semester.semester }") %></td>
        <td class="col-sm-2"><%= link_to group.course, course_path(group.course) %></td>
        <td class="col-sm-8"><%= link_to group.name, group %></td>
      </tr>
    <% end %>
  </tbody>
  <% if true -%>
  <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to fa_new_icon, new_group_path, class: 'btn btn-primary' %>
      </td>
    </tr>
  </tfoot>
  <% end -%>
</table>
<script>
$('table#data').exTableFilter({
  filters: [
    {
      append: {
        to: 'div.year-filter-area',
        type: 'select',
      },
    },
    {
      append: {
        to: 'div.semester-filter-area',
        type: 'select',
      },
    },
    {
      append: {
        to: 'div.course-filter-area',
        type: 'select',
      },
    },
    {
      append: {
        to: 'div.class-filter-area',
        type: 'select',
      },
    },
  ],
});
</script>
