<% content_for :header do %>
  <%= @group.name %>
  <small><%= @group.semester %></small>
  <% if can? :edit, @group %>
      <div class="btn-group" role="group">
        <%= link_to fa_edit_icon, edit_group_path(@group), class: 'btn btn-default' %>
        <%= link_to fa_delete_icon, @group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
      </div>
  <% end -%>
<% end -%>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>基本情報</h2>
  </div>
  <table class="table">
    <tr>
      <th class="col-xs-2">学科</th>
      <td class="col-xs-10"><%= @group.course %></td>
    </tr>
    <tr>
      <th class="col-xs-2">学年</th>
      <td class="col-xs-10"><%= @group.grade %></td>
    </tr>
  </table>

  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>学生一覧</h3>
      </div>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th class="col-xs-2">ID</th>
            <th class="col-xs-2">学籍番号</th>
            <th class="col-xs-8">名前(ふりがな)</th>
          </tr>
        </thead>
        <tbody>
          <% @group.groups_students.each do |group_student| -%>
            <tr>
              <td class="col-xs-2"><%= group_student.code %></td>
              <td class="col-xs-2"><%= group_student.student.code %></td>
              <td class="col-xs-8">
                <ruby>
                  <rb><%= link_to group_student.student.name, group_student.student %></rb>
                  <rp>(</rp>
                  <rt><%= group_student.student.ruby %></rt>
                  <rp>)</rp>
                </ruby>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>

