<%= form_for([Subject.find(params[:subject_id]), @result]) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 名前 %><br>
    <%= f.text_field :students_subject_id %>
  </div>
  <div class="field">
    <%= f.label 前期 %><br>
    <%= f.number_field :midterm, in: 0..100 %>
  </div>
  <div class="field">
    <%= f.label 後期 %><br>
    <%= f.number_field :termend, in: 0..100 %>
  </div>
  <div class="field">
    <%= f.label 追再試 %><br>
    <%= f.number_field :resit, in: 0..100 %>
  </div>
  <div class="field">
    <%= f.label 最終 %><br>
    <%= f.number_field :final, in: 0..100 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
