<table class="table table-bordered table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>前期</th>
      <th>後期</th>
      <th>追再試</th>
      <th>最終</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% results.each do |result| %>
      <tr>
        <td><%= result.students_subject %></td>
        <td><%= result.midterm %></td>
        <td><%= result.termend %></td>
        <td><%= result.resit %></td>
        <td><%= result.final %></td>
        <td><%= link_to '詳細', result_path(result) %></td>
<% if logged_in? and result.subject.instructors.include?(current_user) %>
        <td><%= link_to '編集', edit_result_path(result) %></td>
        <td><%= link_to '削除', result, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
