<p>
  <strong>名前</strong>
  <%= @result.students_subject %>
</p>

<p>
  <strong>前期</strong>
  <%= @result.midterm %>
</p>

<p>
  <strong>後期</strong>
  <%= @result.termend %>
</p>

<p>
  <strong>追再試</strong>
  <%= @result.resit %>
</p>

<p>
  <strong>最終</strong>
  <%= @result.final %>
</p>

<%= link_to '編集', edit_result_path(@result) %> |
<%= link_to '戻る', results_path %>
