<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label '年度,学期' %><br />
    <%= f.select :semester_id, Semester.all.collect { |s| [s, s.id] },
            { selected:@subject.semester_id },
            class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label '科目' %><br>
    <%= f.select :base_id, SubjectBase.all.collect { |s| [s.name, s.id] },
            { selected: @subject.base_id },
            class: 'form-control' %>
  </div>

  <div class="row">
  
  <div class="form-group">
    <%= f.label '担当講師' %><br />
    <div class="row">
      <div class="col-xs-3">
        <%= select nil, nil, Instructor.where.not(id: @subject.instructor_ids).collect { |i| ["#{ i.code }: #{ i.name }", i.id] },
                { include_hidden: false },
                id: 'from_instructors', class: 'form-control', multiple: true %>
      </div>
      <div class="col-xs-1">
        <%= button_tag '>>', type: 'button', class: 'btn btn-primary btn-block',
                onclick: 'addItems($("#from_instructors"), $("#subject_instructor_ids"))' %>
        <%= button_tag '<<', type: 'button', class: 'btn btn-default btn-block',
                onclick: 'addItems($("#subject_instructor_ids"), $("#from_instructors"))' %>
      </div>
      <div class="col-xs-3">
        <%= f.select :instructor_ids, @subject.instructors.all.collect { |i| ["#{ i.code }: #{ i.name }", i.id] },
                { include_hidden: false },
                class: 'form-control', multiple: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label '所属生徒' %><br />
    <div class="row">
      <div class="col-xs-3">
        <%= select nil, nil, Student.where.not(id: @subject.student_ids).collect { |s| [s, s.id] },
                { include_hidden: false },
                id: 'from_students', class: 'form-control', multiple: true %>
      </div>
      <div class="col-xs-1">
        <%= button_tag '>>', type: 'button', class: 'btn btn-primary btn-block',
                onclick: 'addItems($("#from_students"), $("#subject_student_ids"))' %>
        <%= button_tag '<<', type: 'button', class: 'btn btn-default btn-block',
                onclick: 'addItems($("#subject_student_ids"), $("#from_students"))' %>
      </div>
      <div class="col-xs-3">
        <%= f.select :student_ids, @subject.students.all.collect { |s| [s, s.id] },
                { include_hidden: false },
                class: 'form-control', multiple: true %>
      </div>
    </div>
  </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
