<h1>教科</h1>

<div class="form-horizontal">
  <label class="col-xs-1 control-label">年度</label>
  <div class="col-xs-2 year-filter-area inline-form">
  </div>
  <label class="col-xs-1 control-label">学期</label>
  <div class="col-xs-2 semester-filter-area inline-form">
  </div>
  <label class="col-xs-1 control-label">名前</label>
  <div class="col-xs-2 name-filter-area inline-form">
  </div>
</div>

<table id="data" class="data table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th class="year">年度</th>
      <th class="semester">学期</th>
      <th class="name">名前</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @subjects.each do |subject| %>
    <tr>
      <td><%= t 'semester.year', year: subject.semester.year %></td>
      <td><%= t "semester.semesters.#{ subject.semester.semester }" %></td>
      <td><%= link_to subject.name, subject %></td>
<%  if subject.instructors.include?(current_user) %>
      <td>
        <%= link_to fa_edit_icon, edit_subject_path(subject) %> |
        <%= link_to fa_delete_icon, subject, method: :delete, data: { confirm: '本当に削除しますか?' } %>
      </td>
<%  else %>
      <td></td>
<%  end %>
    </tr>
<% end %>

  </tbody>

  <tfoot>
    <tr>
      <td colspan="4"><%= link_to fa_new_icon, new_subject_path, class: 'btn btn-primary' %></td>
    </tr>
  </tfoot>
</table>

<script type="text/javascript">
$('table#data').exTableFilter({
  filters: [
    {
      append: {
        to: 'div.year-filter-area',
        type: 'select',
      },
    },
    {
      append: {
        to: 'div.semester-filter-area',
        type: 'select',
      },
    },
    {
      append: {
        to: 'div.name-filter-area',
        type: 'select',
      },
    },
  ],
});
</script>
