<% content_for :header do %>
  <%= @subject.name %>
  <small>(<%= @subject.semester %>)</small>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel panel-default">
      <table class="table table-condensed">
        <tr>
          <th class="col-xs-2">担当講師</th>
          <td class="col-xs-10">
            <%= @subject.instructors.map(&:name).join(', ') %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel-body">
    <div id="handsontable"></div>
  </div>
</div>

<script>
var SELECT_OPTIONS = {
<% Result.statuses.each do |k, v| %>
  '<%= v %>': '<%= t(:"result.results.#{ k }") %>',
<% end %>
};

renderHandsonTable({
  colHeaders: ['氏名', '中間', '', '期末', '', '追再', '', '最終', '評価', '判定'],
  columns: [
    {
      data: 'student.name',
      readOnly: true,
      renderer: function (instance, td, row, col, prop, value, cellProperties) {
        Handsontable.Dom.fastInnerHTML(td, '<ruby>' +
          '<rb><a href="/students/' + instance.getDataAtRowProp(row, 'student.id') + '">' + value + '</a></rb>' +
          '<rp>(</rp><rt>' + instance.getDataAtRowProp(row, 'student.ruby') + '</rt><rp>)</rp>' +
          '</ruby>');
      }
    },
    <% ['midterm', 'termend', 'resit', 'final'].each do |k| %>
      {
        data: '<%= k %>',
        type: 'numeric',
      },
      <% unless k == 'final' %>
        {
          data: '<%= k %>_status',
          editor: 'select',
          selectOptions: SELECT_OPTIONS,
          renderer: function (instance, td, row, col, prop, value, cellProperties) {
            Handsontable.Dom.fastInnerHTML(td, cellProperties.selectOptions[value] || '');
          }
        },
      <% end %>
    <% end %>
    {
      readOnly: true,
      renderer: function (instance, td, row, col, prop, value, cellProperties) {
        var final = instance.getDataAtRowProp(row, 'final'), result;
        if (final >= 80) {
          result = 'A';
        } else if (final >= 70) {
          result = 'B';
        } else if (final >= 60) {
          result = 'C';
        } else {
          result = 'D';
        }
        Handsontable.Dom.fastInnerHTML(td, result);

        $.get('/students/' + instance.getDataAtRowProp(row, 'student.id') + '/units', function (data) {
          $('#units').text(data);
        });

        $.get('/students/' + instance.getDataAtRowProp(row, 'student.id') + '/times', function (data) {
          $('#times').text(data);
        });
      },
    },
  ],
  data: <%= @subject.results.to_json({
    only: [:id, :midterm, :midterm_status, :termend, :termend_status,
      :resit, :resit_status, :final],
    include: {
      student: {
        only: [:id, :name, :ruby],
      },
    },
  }).html_safe %>,
  readOnly: <%= cannot? :edit, @subject %>,
  stretchH: 'all',
});
</script>
