<% content_for :header do %>学科一覧<% end %>

<div class="panel panel-default">
  <div class="list-group">
    <% @courses.each do |course| %>
      <div class="list-group-item">
        <h3 class="list-group-item-heading"><%= link_to course.name, course %></h3>
        <p class="list-group-item-text">
          <% course.groups.each do |g| %>
            <%= link_to g, class: ('btn btn-%s btn-xs' % [(g.semester == current_semester) ? 'primary' : 'default']) do %>
              <%= g.name %> <small>(<%= g.semester %>)</small>
            <% end %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= link_to fa_new_icon, new_course_path, class: 'btn btn-primary' %>
  </div>
</div>

