<% content_for :header do %>
  <%= @course.name %>
  <% if current_user.admin? %>
    <small>
      <%= link_to fa_edit_icon, edit_course_path(@course), class: 'btn btn-default' %>
      <%= link_to fa_delete_icon, @course, method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
    </small>
  <% end %>
<% end %>
