<%= form_for(@subject_basis) do |f| %>
  <% if @subject_basis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject_basis.errors.count, "error") %> prohibited this subject_basis from being saved:</h2>

      <ul>
      <% @subject_basis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
