<% content_for :header do %><h1><%= t 'subject.index' %></h1><% end %>
<table id="data" class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th class="col-xs-8">
        <label class="control-label"><%= t 'subject.name' %></label>
        <div class="control-form name-filter-area"></div>
      </th>
      <th class="col-xs-2">
        <label class="control-label"><%= t 'subject.unit' %></label>
        <div class="control-form unit-filter-area"></div>
      </th>
      <th class="col-xs-2">
        <label class="control-label"><%= t 'subject.time' %></label>
        <div class="control-form time-filter-area"></div>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @subject_bases.each do |subject_basis| %>
      <tr>
        <td class="col-xs-8"><%= link_to subject_basis.name, subject_basis %></td>
        <td class="col-xs-2"><%= subject_basis.unit %></td>
        <td class="col-xs-2"><%= subject_basis.time %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="3"><%= link_to fa_new_icon, new_subject_basis_path, class: 'btn btn-primary' %></td>
    </tr>
  </tfoot>
</table>
<script>
$('#data').exTableFilter({
  filters: [
    {
      append: {
        to: '.name-filter-area',
        type: 'text',
      },
    },
    {
      append: {
        to: '.unit-filter-area',
        type: 'text',
      },
    },
    {
      append: {
        to: '.time-filter-area',
        type: 'text',
      },
    },
  ],
});
</script>