<% content_for :header do %>
  <%= @subject_basis.name %>
  <% if current_user.admin? %>
    <%= link_to fa_edit_icon, edit_subject_basis_path(@subject_basis), class: 'btn btn-default' %>
  <% end %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"><h2>基本情報</h2></div>
  <table class="table">
    <tr>
      <th class="col-xs-2">単位数</th>
      <td class="col-xs-10"><%= @subject_basis.unit %></td>
    </tr>
    <tr>
      <th class="col-xs-2">時間数</th>
      <td class="col-xs-10"><%= @subject_basis.time %></td>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2>開講中</h2></div>

  <div class="list-group">
    <% @subject_basis.subjects.each do |subject| %>
      <%= link_to subject, class: 'list-group-item' do %>
        <h3 class="list-group-item-heading"><%= subject.name %> <small>(<%= subject.semester %>)</small></h3>
        <p class="list-group-item-text"><%= subject.instructors.select(:name).join(', ') %></p>
      <% end %>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= link_to fa_new_icon, new_subject_path(base: @subject_basis), class: 'btn btn-primary btn-block' %>
  </div>
</div>

