%ul.dropdown-menu(role="menu")
  - items.each do |item|
    %li(role="presentation")
      = link_to item do
        = item.name
        %small= "(#{ item.semester })"
  - if items.any?
    %li.divider(role="presentation")
  %li(role="presentation")= link_to 'すべて表示', items_path
